<% provide(:title, @user.name) %>
<div class="gravatar float-left"><img src="<%= @user.gravatar_url %>"></div>
<h1><%= @user.name %>'s Profile</h1>
<% if user_signed_in? %>
  <%= link_to "Settings",  edit_registration_path(current_user) %>
<% end %>

<br>
<% @posts.each do |post| %>
  <br>
  <div class="post">
    <h2><%= link_to post.title, post_path(post) %></h2>

    <% if current_user == post.user %>
      <h6><%= link_to "Delete", post_path(post), method: :delete, class: ' delete float-right',
                      data: {confirm: "Are you sure that you want to delete this post?"} %></h6>
      <h6><%= link_to "Edit", edit_post_path(post), class: 'float-right' %> </h6>
    <% end %>

    <p><%= post.body %></p>
    <div>
      <% post.uploads.each do |upload| %>
        <%= image_tag upload, class: "uploads" %>
      <% end %>
    </div>

    <span class="like"><%= link_to '', post_likes_path(post), method: :post, class: 'far fa-heart' %> <%= post.likes.count %></span>
    <span><%= link_to '', post_path(post), class: 'far fa-comment' %> <%= post.comments.count %> comments </span>

    <small>
      <p>
        Post by: <%= link_to post.user.name %>
        Created: <%= time_ago_in_words(post.created_at) %> ago
      </p>
    </small>
  </div>
<% end %>

<%= will_paginate @posts %>