<div id="login" class="mx-auto d-block">
  <h1><%= t("sign in") %></h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <label class="label"><i class="fas fa-envelope"></i></label>
    <%= f.email_field :email, class: 'form-control', placeholder: :email, autofocus: true %>

    <label class="label"><i class="fas fa-lock"></i></label>
    <%= f.password_field :password, class: 'form-control', placeholder: :password %>

    <div class="remember">
      <% if devise_mapping.rememberable? %>
        <span><%= t("remember") %></span>
        <%= f.check_box :remember_me %>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit t("sign in")%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>
