<div id="login" class="mx-auto d-block">
  <h1>Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <label class="label"><i class="fas fa-envelope"></i></label>
    <%= f.email_field :email, class: 'form-control', placeholder: :email, autofocus: true %>

    <label class="label"><i class="fas fa-lock"></i></label>
    <%= f.password_field :password, class: 'form-control', placeholder: :password %>

    <% if devise_mapping.rememberable? %>
      <span>Remember me</span>
      <%= f.check_box :remember_me %>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>