
<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path , class: 'btn btn-primary offset-5' %>
<% end %>
<div class="posts">
  <% @posts.each do |post| %>
    <br>
 <div class="card mb-2">
   <div>
     <% post.uploads.each do |upload| %>
       <%= image_tag upload, class: "card-img-top" %>
     <% end %>
   </div>
  <div class="card-body">
    <h2 class="cadr-title"><%= link_to post.title, post_path(post) %></h2>

    <% if current_user == post.user %>
      <h6><%= link_to "Delete", post_path(post), method: :delete, class: ' delete float-right',
                      data: {confirm: "Are you sure that you want to delete this post?"} %></h6>
      <h6><%= link_to "Edit", edit_post_path(post), class: 'float-right' %> </h6>
    <% end %>

    <p class="card-text"><%= post.body %></p>

    <span class="like" data-controller = "heart"><%= link_to '', post_likes_path(post), method: :post, class: 'far fa-heart', 'data-action' => 'click->heart#like' %> <%= post.likes.count %></span>

    <span><%= link_to '', post_path(post), class: 'far fa-comment' %> <%= post.comments.count %> comments </span>

    <small>
      <div>
      Post by: <%= link_to post.user.name, user_path(post.user) %>
      Created: <%= time_ago_in_words(post.created_at) %> ago
      </div>
    </small>
  </div>
 </div>
<% end %>
</div>

<%= will_paginate %>