<div class="post">
  <h2><%= @post.title %></h2>

  <% if current_user == @post.user %>
    <h6><%= link_to "Delete", post_path(@post), method: :delete, class: ' delete float-right',
                    data: {confirm: "Are you sure that you want to delete this post?"} %></h6>
    <h6><%= link_to "Edit", edit_post_path(@post), class: 'float-right' %> </h6>
  <% end %>

  <p><%= @post.body %></p>
  <div>
    <% @post.uploads.each do |upload| %>
      <%= image_tag upload, class: "uploads" %>
    <% end %>
  </div>
  <p>

    <span class="like"><%= link_to '', post_likes_path(@post), method: :post, class: 'far fa-heart' %> <%= @post.likes.count %></span>

  <small>
    <p>
    Post by: <%= link_to @post.user.name, user_path(@post.user) %>
    Created: <%= time_ago_in_words(@post.created_at) %> ago
    </p>
  </small>
  </p>

</div>

<p> Comments (<%= @comments.count %>)</p>
<% if user_signed_in? %>
  <%= render 'comments/form', provide(:url, post_comments_path(@post)) %>
<% end %>
<% @comments.each do |comment| %>
  <div class="comment">
    <img src="<%= comment.user.gravatar_url %>" class="avatar">
    <h5><%= link_to comment.user.name, user_path(comment.user)  %></h5>
    <p><%= comment.body %></p>
    <% if current_user == comment.user %>
      <%= link_to "Delete", post_comment_path(post_id: @post.id, id: comment.id), method: :delete,
                  class: 'float-right', data: {confirm: "Are you sure that you want to delete it?"}  %>
    <% end %>
    <small><p>Created: <%= time_ago_in_words(comment.created_at) %></p></small>
  </div>
<% end %>

<%= will_paginate @comments %>