<!-- Post Section -->
<div class="post">
  <%= render @post %>
</div>
<!-- Comments Section -->
<p> Comments (<%= @comments.count %>)</p>

<% if user_signed_in? %>
  <!-- Form for new comments -->
  <%= render 'comments/form' %>
<% end %>
<!-- All Comments -->
<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
  <% end %>
</div>
<!-- -->

<div class="digg_pagination offset-4">
  <%= will_paginate @comments %>
</div>