<div class="post">
  <h2><%= @post.title %></h2>

  <% if current_user == @post.user or current_user.admin %>
    <h6><%= link_to "Delete", post_path(@post), method: :delete, class: ' delete float-right',
                    data: {confirm: "Are you sure that you want to delete this post?"} %></h6>
    <h6><%= link_to "Edit", edit_post_path(@post), class: 'float-right' %> </h6>
  <% end %>

  <p><%= @post.content %></p>
  <p>
  <% if post_already_liked(@post.id) %>
      <span class="like" data-controller = "heart"><%= link_to '', post_likes_path(@post), method: :post, class: 'fas fa-heart' , 'data-action' => 'click->heart#like' %> <%= @post.likes.count %></span>
  <% else  %>
      <span class="like" data-controller = "heart"><%= link_to '', post_likes_path(@post), method: :post, class: 'far fa-heart' , 'data-action' => 'click->heart#like' %> <%= @post.likes.count %></span>
  <% end %>
    </p>
    <p>
      <small>
      Post by: <%= link_to @post.user.name, user_path(@post.user) %>
      Created: <%= local_time_ago(@post.created_at) %>
        <% if @post.created_at != @post.updated_at %>
         | Updated: <%= local_time_ago(@post.updated_at) %>
        <%end %>
        </small>
    </p>

</div>

<p> Comments (<%= @comments.count %>)</p>
<% if user_signed_in? %>
  <%= form_for(:comment, data: {controller: "characters", action: "ajax:beforeSend->characters#submit", target: "edit.form" }, url: post_comments_path(@post)) do |f| %>

      <%= f.text_area :body,  class: "form-control", data: { target: "characters.body", action: "keyup->characters#update"} %>
    <p>
      <%= f.submit "Comment", class:'btn btn-primary'%>

      <span data-target="characters.characterCount"></span>
    </p>

  <% end %>
<% end %>
<div id="comments">
  <% @comments.each do |comment| %>
    <div id="<%= dom_id(comment) %>" class="comment" data-controller="edit">
      <img src="<%= comment.user.gravatar_url %>" class="avatar">
      <h5><%= link_to comment.user.name, user_path(comment.user)  %></h5>
      <p data-target="edit.body"><%= comment.body %></p>

      <div class="d-none">
        <%= form_for( comment, data: {controller: "characters", action: "ajax:beforeSend->characters#submit", target: "edit.form" }, url: post_comment_path(post_id: @post.id, id: comment.id), method: :patch)do |f| %>
            <%= f.text_area :body,  size: "100x2", data: { target: "characters.body", action: "keyup->characters#update"} %>
          <p>
            <%= f.submit "Comment", class:'btn btn-primary'%>

            <span data-target="characters.characterCount"></span>
          </p>
      <% end %>
      </div>

      <% if current_user == comment.user or current_user.admin %>
        <%= link_to "Delete", post_comment_path(post_id: @post.id, id: comment.id), method: :delete,
                    class: 'float-right', data: {confirm: "Are you sure that you want to delete it?"}  %>
        <a href="" data-action="click->edit#toggle" class="float-right">Edit |</a>
      <% end %>

      <% if comment_already_liked(comment.id) %>
        <span class="like" data-controller = "heart">
        <%= link_to '', post_comment_hearts_path(post_id: @post.id, comment_id: comment.id), method: :post, class: 'fas fa-heart' , 'data-action' => 'click->heart#like' %>
                <%= comment.hearts.count %>
        </span>
      <% else %>
                <span class="like" data-controller = "heart">
        <%= link_to '', post_comment_hearts_path(post_id: @post.id, comment_id: comment.id), method: :post, class: 'far fa-heart' , 'data-action' => 'click->heart#like' %>
                  <%= comment.hearts.count %>
        </span>
      <% end %>

      <small>
        <p>Created: <%= local_time_ago(comment.created_at) %> | Updated: <%= local_time_ago(comment.updated_at) %></p>
      </small>
    </div>
  <% end %>
</div>


<%= will_paginate @comments %>