<header id="header" class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <h1><%= link_to 'Micro-Posting', root_path %></h1>
    <nav>

      <%= link_to 'Home', root_path %>
      <% if user_signed_in? %>
        <%= link_to 'Chat', rooms_path %>
        <%= link_to 'Profile', user_path(current_user)  %>
        <%= link_to 'Logout', destroy_user_session_path, :method => :delete  %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>

    </nav>
  </div>
</header>