<header id="header" class="navbar navbar-expand">
  <div class="container ">
    <h1><%= link_to 'Micro-Posting', root_path %></h1>
    <nav class="collapse navbar-collapse d-flex flex-row-reverse">
      <div class="navbar-nav">

        <%= link_to 'Posts', posts_path, class: 'nav-link' %>
        <% if user_signed_in? %>
          <%= link_to 'Rooms', rooms_path, class: 'nav-link' %>
        <div class="nav-item nav-link" data-controller="search">
          <%= search_form_for @q do |f| %>
            <div class="btn btn-light"><%= f.search_field :title_or_user_name_cont, placeholder: t("search") + ' Post',
            class: 'form-control d-none', data: { target: 'search.bar'} %></div>
            <%= f.label '', class: 'fas fa-search link', data: { action: 'click->search#toggle' } %>
            <% f.submit %>
          <% end %>
        </div>
          <%= link_to '', notifications_path, class: 'nav-link far fa-bell' %>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="<%= current_user.gravatar_url %>" class="menu-avatar">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to t("users.profile"), user_path(current_user), class: 'dropdown-item'  %>
              <%= link_to t("users.settings"),  edit_registration_path(current_user), class: 'dropdown-item' %>
              <hr>
              <%= link_to t("users.logout"), destroy_user_session_path, class: 'dropdown-item', :method => :delete  %>
            </div>
          </div>
        <% else %>
          <%= link_to t("sign up"), new_user_registration_path, class: "nav-link" %>
          <%= link_to t("sign in"), new_user_session_path, class: 'nav-link' %>
        <% end %>
        <button data-action="click->style#mode" class="far fa-moon btn btn-light"></button>

      </div>
    </nav>
  </div>
</header>